@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-top: 2px solid #8b4513;
  border-bottom: 2px solid #8b4513;
  padding-bottom: 2px;
}
.heading {
  /* border-top: 2px solid #8b4513; */
  border-bottom: 2px solid #8b4513;
  padding-bottom: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
}

p,
li,
a,
button {
  font-family: "Lato", sans-serif;
}
.light {
  --var-header-bg: #3cb371;
  --bs-bg-outlet: #ffffff;
  --var-bar-bg: #ffffff;
  --var-text-color: #333333;
  --var-heading-color: #3cb371;
  --var-card-bg: #ffffff;
  --bs-table-text-color: #333333;
  --bs-table-color-state: #ffffff;
  --bs-footer-color: #ffffff;
  --bs-text-outlet: #333333;
  --bs-banner-color: #ffffff;
  --bs-link-color: #8b4513;
  --bs-header-link-color: #ffffff;
}
.dark {
  --var-header-bg: #333333;
  --var-text-color: #ffffff;
  --bs-table-color-state: #333333;
  --bs-table-text-color: #ffffff;
  --bs-footer-color: #1a1c1e;
  --bs-top-bg-sidebar: #1a1c1e;
  --bs-link-color: #ffffff;
  --bs-bg-outlet: #1a1c1e;
}

.top-side {
  background-color: var(--bs-top-bg-sidebar);
}
.outlet {
  background-color: var(--bs-bg-outlet);
  color: var(--bs-text-outlet);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--var-heading-color) !important;
}
p {
  color: var(--var-text-color);
}

.header-area {
  background-color: var(--var-header-bg);
}

.card {
  background-color: var(--var-card-bg) !important;
  color: var(--var-card-color);
}
table {
  background-color: var(--bs-body-bg) !important;
}
input,
textarea,
select {
  background-color: var(--bs-table-color-state) !important;
}
th,
td {
  color: var(--bs-table-text-color) !important;
}
label {
  color: var(--bs-label-color) !important;
}
span {
  color: var(--bs-label-color) !important;
}
a {
  color: var(--bs-link-color) !important;
}
.banner-area p {
  color: var(--bs-banner-color) !important;
}
.header-area a {
  color: var(--bs-header-link-color) !important;
}
.allCraft a {
  color: var(--bs-header-link-color) !important;
}
.craftList a {
  color: var(--bs-header-link-color) !important;
}
.showDetails a {
  color: var(--bs-header-link-color) !important;
}

/* #8B4513 (Saddle Brown) */
/* #3CB371 (Medium Sea Green) */
