@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-top: 2px solid #8b4513;
  border-bottom: 2px solid #8b4513;
  padding-bottom: 2px;
}
.heading {
  /* border-top: 2px solid #8b4513; */
  border-bottom: 2px solid #8b4513;
  padding-bottom: 2px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Crimson Text", serif;
}

p,
li,
a,
button {
  font-family: "Lato", sans-serif;
}
/* #8B4513 (Saddle Brown) */
/* #3CB371 (Medium Sea Green) */
